/*@font-face {
    font-family: geekfest;
    src: url(BADABB__.TTF);
}
*/
.borda {color:var(--branco); text-shadow:#000 2px -2px, #000 -2px 2px, #000 2px 2px, #000 -2px -2px;}
.borda2 {color:var(--branco); text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px}
.borda3 {color:var(--branco); text-shadow:#000 5px -5px, #000 -5px 5px, #000 5px 5px, #000 -5px -5px}

.local h1{ 
    
    margin: 30px;
    font-size: 100px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

:root{
    --fundo: rgb(21, 35, 160);    --laranja:orange;    --azul:blue;    --branco:#fff;
/* --fundo:#202239;    --laranja:#B76315;    --azul:#1F65C2;    --branco:#F2F2F2;    */
}

*{ margin: 0;padding: 0;}
body{
    background-color: var(--fundo);    
}

.fixo{
position: relative;
} .fixo img{ 
    position: fixed;
    height: 300px;
}

/*************************************inicio cabeçalho*****************************************************/
.logo{ height: 100%;}
header{ 
    height: 300px;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
}
h1,h2,h3{ font-family: Arial, Helvetica, sans-serif; color:var(--branco);
    /*text-shadow:-2px -2px black;*/
}
header ul{ 
    list-style-type: none; display: flex;
    flex-wrap: wrap;
    
}
header ul li{ 
    margin: 20px;
    width: 200px;
    background-image: linear-gradient(75deg,var(--azul), var(--laranja),var(--azul));
    border-radius: 50px;
    text-align: center;
}
header ul li a {text-decoration: none;color: var(--branco);}
/*******************************fim cabeçalho***********************************************************/
/****************************************baner1**************************************************/
.baner1{
    justify-content: center;
    margin: 30px;
    height: 500px;
    width: auto;
    border-radius: 30px;
    background-color: chartreuse;
    animation:slide1 10s infinite;
    
    
}
@keyframes slide1{
    0%,50%{ text-align: center;background-image: url(../midias/Gki2017.png); background-position: top;
    background-size: 50vh;}
    55%,100%{ background-image: url(../midias/Gki2021.PNG);background-position: top;
        background-size: 50vh;}
}
/****************************************fim dos baners**************************************************/
/****************************************local**************************************************/

.local{
    background-color: var(--azul);
    margin: 30px;
    border-radius: 30px;
    text-align: center;
}
.local h1{ 
    margin: 30px;
    font-size: 100px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    
}
.local h2{ 
    font-size: 50px;    
    text-align: center;    
}
.local h3{ 
    font-size: 30px;    
    text-align: center;    
}
iframe{
filter: none;
}
@media screen and (max-width:900px) {
    iframe{ width: 400px;} 
    .local h1{ 
        font-size: 60px;
    }
    .local h2{ 
        font-size: 30px; }  
    .local h3{ 
        font-size: 15px;    
    }
}
@media screen and (max-width:700px) {
    iframe{ width: 300px;}   
}
@media screen and (max-width:500px) {
    iframe{ width: 200px;}   
}


/****************************************fim do local**************************************************/
/******************cards card*********************/
.laranja{
    background-color: var(--laranja);
    margin: 30px;
    border-radius: 30px;    
}

.cards{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    display: flex;
    margin: 15px;
    background-color: var(--azul);
    border-radius: 30px; 
    
}
.card img{ height: 300px;filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.3));}
.card img:hover{ filter:none;}
/*CRONOGRAMA 0 SCROLL*/
main{position: relative;}

.links{
    width: 100%;
    height: 50px;
    position: absolute;
    display: flex;
    
}

.links label{
    padding: 10px 0;
    flex-grow: 1;
    cursor:pointer;
    transition: all .4s;
    text-align: center;    
    /*font-family: fontegeek;*/
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #fff;
}

.links label:hover{ background-color: rgba(255,255,255,.2);}
.scroll{
    display: flex;
    width: 100vw; height: 100vh;
    overflow: hidden;
    
}

.sections{ transition: all .4s;}

input{ display: none;}

.bloco{
    width: 100vw; height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#contato{
    background-color: #7fbd42;
}       #contato img{  height: 100vh;width: auto;}
#programacao{
	background-color: #69f;
    background-image: url(imgs/g2017.png);
    background-position: left;
    background-size: 300px;
    background-repeat: no-repeat;
} 
        #programacao img{  height: 100vh;width: auto;}

#evento{
	background-color: #faa;
}       #evento img{ height: 100vh;width: auto;}
#cronograma{
	background-color: rgb(218, 119, 27);
} #cronograma img{  height: 100vh;width: auto;}
#principal{
	background-color: #aaa;
}
#cosplayer{
	background-color: #414950;
} #cosplayer img{  height: 100vh;width: auto;}

#rd_evento:checked ~ .sections{
    margin-top: -100vh;
}

#rd_programacao:checked ~ .sections{
    margin-top: -200vh;
}
#rd_cronograma:checked ~ .sections{
    margin-top: -300vh;
}
#rd_contato:checked ~ .sections{
    margin-top: -400vh;
}
#rd_cosplayer:checked ~ .sections{
    margin-top: -500vh;
    background-color: grey;
}
.bloco img{ width: 200px;}

.fadeImg{
    opacity: 0;
    animation: fadein 4s ease-in-out;
    animation-fill-mode:forwards;
}
@keyframes fadein{
    from{opacity: 0;}
    to{opacity: 1;}
}
.brilhoFundo{
    background-image: linear-gradient(var(--azul),var(--branco));
    clip-path: circle();
    animation: escala 5s ease-in-out;
    animation-delay: 4s;
}
@keyframes escala{
    to{ transform: scale(1.5);}
}
/********************************************************/
.folder img{width: 100%;}